<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin">
        <title>Dashboard</title>
    </head>
    <body>
        {{range .Sections}}
        <section>
            <h1 class="section-heading">{{.Name}}</h1>
            <div class="bookmark-grid">
                {{range .Bookmarks}}
                <a class="bookmark-card" target="_blank" rel="noreferrer">
                    <img class="bookmark-icon" src="{{.Icon}}" alt="{{.Name}} icon"></img>
                    <div class="bookmark-details">
                        <h3 class="bookmark-title">{{.Name}}</h3>
                        <p class="bookmark-description">
                            {{if .Description}}{{.Description}}{{else}}{{stripURLScheme .URL}}{{end}}
                        </p>
                    </div>
                </a>
                {{end}}
            </div>
        </section>
        {{end}}
    </body>
</html>
